configuration {
  display-drun: "Apps:";
  display-window: "Windows:";
  drun-display-format: "{icon} {name}";
  font: "Agave 16";
  modi: "window,run,drun,";
  show-icons: true;
  icon-theme: "Papirus";
}

@theme "/home/yelets/.config/rofi/themes/CleanLook.rasi"
